.FlashcardOverviewPage {
    background-color: #725AC1;
    position: relative;
    top: -10px;
    .title,
    .description {
        text-align: center;
    }
    .start-button {
        color: blueviolet;
        button{
            margin: 40px auto;
        }
        padding-bottom: 40px;
    }
    
    .flashcards {
        display: flex;
        flex-direction: column;
        .flashcard-row {
            display: flex;
            margin-top: 100px;
        }

        .card {
            margin: 0 auto;
            width: 30%;
            text-align: center;
            display: inline-block;
            padding: 20px 50px;
        }

        .term-card {
            background-color: #00ffff;
            .term {
                margin: auto 0;
            }
        }
        .definition-card {
            background-color: #7fffd4;
        }
    }
}
