.study-page {
    .flashcard {
        background-color: bisque;
        display: inline-block;
        width: 800px;
        height: 400px;

        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;

        div {
            margin: auto;
            max-width: 400px;
        }
    }
    button {
        display: inline-block;
    }
    .settings-modal{
        .overlay{
            z-index: 1;
            position: fixed;
            background-color: rgba(255, 235, 205, .3);
            width: 100vw;
            height: 100vh;
            top: 0;
            cursor: pointer;
        }
        .settings-box{
            border-radius: 4px;
            z-index: 2;
            position: fixed;
            left: 50vw;
            top: 50vh;
            transform: translate(-50%, -50%);
            background-color: black;
            width: 200px;
            height: 200px;
            color: white;
        }
    }


}
