.study-page {
    .flashcard {
        background-color: bisque;
        display: inline-block;
        width: 800px;
        height: 400px;

        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;

        div {
            margin: auto;
            max-width: 400px;
        }
    }
    button {
        display: inline-block;
    }
}
