.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 64px;
    display: flex;
    
    justify-content: space-between;
    background-color: black;

    .links {
        height: 64px;
        font-size: 20pt;
        align-items: center;
    }

    a {
        margin-right: 100px;
        text-decoration: none;
        color: white;
    }

    .text {
        position: relative;
        bottom: 20px;
    }

    .search-and-profile {
        max-width: 33%;
    }

    .profile-image {
        width: 50px;
        max-width: 13%;
    }

    .searchbar {
        width: 440px;
        max-width: 100%;
        height: 40px;
        margin-right: 50px;
        margin-top: auto;
        margin-bottom: auto;
    }
}
